@media screen and (max-width: 1050px) {
    .card {
        right: 4rem;
        width: 40vw;
        height: auto !important;
        margin-top: -5vh;

    }

    .card--button {
        padding-top: 0px;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .card {
        right: 4rem;
        min-width: 40vw;
        min-height: 100vw;
        width: 40vw;
        height: auto !important;
        margin-top: -5vh;
    }

    .card--button {
        padding-top: 0px;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
    }

}

.card--title {
    text-align: center;
    color: red;
}

.card--image {
    width: 100vw;
    box-shadow: 10px;
}

.card--button {
    background-color: red;
    position: relative;
    margin-top: 10%;
    margin-bottom: -10%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;


}

.card--button:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-out;

}

.card--description {
    text-align: center;

}

.card--description--icon {
    margin-left: 10px;
}

.slick-slider {
    max-width: 100vw;
    width: 100%;
}



.slick-next,
.slick-prev {
    color: black;
    background: black;
    width: 4vw !important;
    height: 4vh !important;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
.nextArrow{
    position: absolute;
    right: 0;
    top: 50%;
}
.prevArrow{
    position: absolute;
    left: 0;
    top:50%;
}
