body.active-modal {

    overflow: hidden;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal--window{
   animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}