.menu {
    width: 80%;
    margin: 0 auto;
  }
  
  .menu__title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 2%;
    color:black;
    font-family: cursive;
    font-weight: 800;

  }
  
  .menu__items {
    list-style: none;
    padding: 0;
  }
  
  .menu__item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .menu__item-name {
    font-size: 1.2em;
    margin-bottom: 5px;
    color:black;
  }
  
  .menu__item-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .menu__item-price {
    float: right;
    font-weight: bold;
    color:red;
  }
  