
@media screen and (max-width: 480px){
  .mainMenuButton{
    position: absolute;
    top: 0;
    left: 30% !important;
    font-size: 1.2rem !important;
  }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    background-color: black;
    grid-gap: 20px;
    padding: 20px;
    margin-top: 5vh;
  }
  
  .grid-item {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .grid-img {
    width: 100%;
    height: auto;
  } 
  .mainMenuButton{
    position: absolute;
    top: 0;
    left: 40%;
    color: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
  }
  .mainMenuButton:hover{
    color: black;
  }
  .goBackButton{
    position: absolute !important;
    top: 2% !important;
    left: 0 !important;
  }
  